@model ProductViewModel
<div class="row">
    <div class="col-6 card shadow-lg">
        <img class="card-img-top" src="@Model.ImagePath" />
    </div>
    <div class="col-9">
        <h5>@Model.Name</h5>
        <h5>@Model.Cost</h5>
        <h5>@Model.Description</h5>

        <a class="btn btn-primary" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left">Продолжить покупки</i></a>
        <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-productid="@Model.Id"><i class="bi bi-cart">В корзину</i></a>
    </div>
</div>